.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin: 0;
    padding: 0;
    list-style: none;
}

.page-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

.page-button {
    width: 30px;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #fff;
    font-size: 14px;
    color: #333;
    cursor: pointer;
}

.page-input:focus {
    outline: none;
}

.page-box p {
    width: 30px;
    height: 100%;
}
.page-input[type="number"] {
    width: 30px;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 3px;
    text-align: center;
    font-size: 14px;
    color: #333;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}