.navbar {
    /* max-height: 5.5rem; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
    margin: 0 100px;
    flex-direction: column;
}

 .navbar img {
    width: 200px;
    margin: 0 0 0 0;
}

@media screen and (min-width: 550px) {
    .navbar {
        margin-bottom: 50px ;
    }
}